/*Below font-size converts the font size so 1rem = 10px*/
html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, h1, h2, h3 {
  font-family: "lato", sans-serif;
}

h2{
  font-size: 6rem;
  margin-top: 40px;
}

a:hover {
  text-decoration: none;
  color: initial;
}

p {
  font-family: "Arial", sans-serif;
}

.header-line{
  width: 95px;
  display: block;
  margin: 0 auto;
  padding-top: 65px;
}

body {
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  height: 100%;
}

nav {
  font-size: 1.6rem;
  z-index: 2;
}

.nav-title {
  font-size: 2.5rem;
  color: white;
}

.bg-green {
  background-color: #69C87F;
}

.navbar-brand {
  font-size: 2rem;
  color: white;
}

.nav-link {
  color: white;
}

.dropdown-item {
  font-size: 1.35rem;
}

.header {
  height: 70vh;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.heading-primary {
  color: #000000;
  text-transform: uppercase;
  /*the below code removes the jump caused by animatimon. it is a hack*/
  backface-visibility: hidden;
}

.heading-primary-main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 1rem;
  animation: moveInLeft 2s ease-out;
}

.heading-primary-sub {
  display: block;
  font-size: 2rem;
  letter-spacing: .2rem;
  font-weight: 700;
  text-align: center;
  animation: moveInRight 2s ease-out
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-90px)
  }

  70% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0)
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(90px)
  }

  70% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0)
  }
}

/************************************
ABOUT US SECTION
************************************/
#aboutus-div {
  height: auto;
  background-color: #69C87F;
  color: white;
  padding: 0;
  margin: 0;
}

#aboutus-div>img {
  display: block;
  margin: 0 auto;
  padding: 65px 0 0 0;
}

#aboutus-div h1 {
  font-size: 6rem;
  margin: 40px auto 0 auto;
  padding: 0;
}

#aboutus-div p {
  font-size: 20px;
  margin: 55px auto 0 auto;
  width: 80%;
  padding: 0;
}

/************************************
GOALS SECTION
************************************/
#goals-div {
  height: 100%;
  margin: 0;
  padding: 0 auto 136px auto;
  background-color: #69C87F;
  color: white;
}

#goals-div h3 {
  font-size: 50px;
  padding-top: 140px;
  letter-spacing: 0.5rem;
}

#goals-inner-div {
  width: 80%;
  margin: 0 auto;
  padding-top: 130px;
  padding-bottom: 50px;
}

#goals-inner-div>img {
  display: block;
}

#goals-inner-div h4 {
  font-size: 30px;
}

#goals-inner-div p {
  font-size: 20px;
  margin-top: 55px;
}

/************************************
EVENTS SECTION
************************************/
.event-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: white;
}
.event-header-line{
    width: 50px;
    margin-top: 65px;
}
.header-text{
    margin-top: 40px;
    color: #69C87F;
}
.date-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 55px;
}
.date-text{
    font-size: 35px;
    font-family: Arial;
    color: black;
    border-bottom: solid #69C87F
}
.location-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.location-list{
    font-size: 25px;
    font-family: Arial;
    color: black;
    text-align: center;
    list-style-type: none;
}
.location-list li{
    margin: 10px;
}
.location-maps{
    width: 500px;
    height: 250px;
    margin-left: 90px;
}
.last-date-container{
    margin-bottom: 100px;
}

/************************************
CONTACT SECTION
************************************/
input[type=text] {
  border: none;
  resize: vertical;
}
textarea {
  height: 300px;
  width: 900px;
  border: 2px solid #69C87F;
  resize: none;
  margin-bottom: 10px;
  resize: none;
}
.contact-container {
  width: 100%;
  background-color: #69C87F;
  padding-bottom: 65px;

}
.headerline {
  width: 90px;
  display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 65px;
    padding-bottom: 20px;
  }

.contactus {
  color: white;
  text-align: center;
}
.contact-form {
  display: flex;
  width: 1000px
  height: 1060px;
  font-size: 30px;
  font-family: Arial;
  font-weight: bold;
  color: #69C87F;
  justify-content: center;
  padding: 110px;
}

.contact-form-underline {
  border-bottom: 2px #69C87F solid;
  display: block;
  width: 450px;
}
.contact-form-underline input{
  width: 340px;
  outline: none;
}

.btn {
  display: inline-block;
  background-color: #69C87F;
  border: none;
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  width: 240px;
  height: 80px;
  margin-bottom: 40px;
  float: right;
}

.btn:hover {
  background-color: green;
}
/************************************
FOOTER SECTION
************************************/
.footer {
  height: 150px;
  width: 100%;
  padding: 10px 10%;
  background-color: #69C87F;
  position: relative;
  font-size: 1.6rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.footer-list {
  display: flex;
  flex-direction: column;
  width: 50%;
  list-style-type: none;
}
.footer-list a {
  color: white;
}
.footer-list a:hover, a:active{
  color: black;
}

.footer-icons{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer-icons img{
  width: 40px;
  border-radius: 50%;
}

.fab {
  padding-right: 20px;
  font-size: 1.7rem;
  color: white;
  transition: .3s;
}

.fab:hover {
  color: black;
  animation: .2s;
  cursor: pointer;
}

@media screen and (max-width: 991.98px){
  .date-text{
      font-size: 2.5rem;
  }
  .location-list{
      font-size: 2rem;
  }
  .location-container{
      margin-top: 0px;
      display: flex;
      flex-direction: column;
      align-content: center;
  }
  .location-maps{
      width: 90%;
      height: auto;
      margin-left: 0px;
  }
  .contact-form, .contact-form-underline, input[type=text], textarea {
    width: 100%;
    margin-top: 0;
  }
  .btn{
    font-size: 2rem;
  }
}

/* Medium devices (tablets, 768px and down) */
@media only screen and (max-width: 768px) {
  .header-line{
    width: 65px;
    display: block;
    margin: 0 auto;
    padding-top: 65px;
  }
  .heading-primary-main {
    font-size: 3rem;
  }

  h2 {
    font-size: 3rem;
  }

  #goals-inner-div {
    padding-top: 50px;
  }

  #goals-div h3 {
    font-size: 2.5rem;
    padding-top: 50px;
  }

  #goals-inner-div h4 {
    font-size: 2rem;
  }

  #aboutus-div p {
    font-size: 1.6rem;
  }

  #goals-inner-div p{
    font-size: 1.6rem;
  }
  label, .btn, textarea, input{
    font-size: 2rem;
  }
  .footer{
    font-size: 1.3rem;
  }
  .footer-list{
    padding-left: 5%;
  }
  .footer img{
    width: 35px;
  }
}

@media only screen and (max-width: 576px) {
  .nav-title{
    font-size: 1.5rem;
    margin: 0;
  }
  .heading-primary-main {
    font-size: 2rem;
  }

  #aboutus-div p {
    font-size: 1.6rem;
  }

	#goals-inner-div div{
		height: 900px;
	}

  #goals-div h3 {
    font-size: 2.5rem;
  }

  #goals-inner-div h4 {
    font-size: 2rem;
  }

  #goals-inner-div p {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 499px){
  #goals-inner-div div{
    height: 1000px;
  }
}

@media only screen and (max-width: 430px){
  #goals-inner-div div{
    height: 1250px;
  }
}

